* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 85%;
  margin: auto;
  margin-bottom: 10vh;
  height: 700px;
  border-radius: 25px;
  background-color: black;
  padding: 4%;
}

.header {
  width: 85%;
  margin: auto;
  margin-bottom: 10vh;
  border-radius: 25px;
  padding: 4%;
}

.container {
  width: 85%;
  margin: auto;

  border-radius: 25px;
  margin-left: 50px;
}
.container ul {
  margin-left: 20px;

  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Comforter", cursive;
  display: inline;
}

.container ul {
}
.container ul li {
  display: inline;
  margin-right: 20px;
}

.container ul li a {
  text-decoration: none;
  color: rgb(128, 0, 0);
  text-transform: uppercase;

  border-radius: 15px 15px 25px;
}
.container ul li a:hover {
  background-color: rgb(230, 102, 208);
  margin-top: 10vh;
}

.clr {
  clear: both;
}

/* navigation box 1 */
.nav {
  background-color: rgb(255, 123, 0);
  margin-top: 5vh;
  border-radius: 25px;
}
.nav ul {
}
.nav ul li {
  display: inline;
  margin-right: 20px;
}
.nav ul li a {
  text-decoration: none;
  color: rgb(128, 0, 0);
  text-transform: uppercase;

  border-radius: 50px 25px;
}
.nav ul li a:hover {
  background-color: rgb(19, 243, 224);
  margin-top: 10vh;
}
